.hs-keyglyph, .hs-layout {color: #f92672;}
.hs-keyword {color: #f92672;}
.hs-comment, .hs-comment a {color: #75715e;}
.hs-str, .hs-chr {color: #876F44;}
.hs-conid {color:#AE81FF;}
.hs-varid {color:#fff;}
.hs-conop {color:#fff;}
.hs-varop {color:#f92672;}
.hs-num {color:#AE81FF;}
.hs-cpp {color:#fff;}
.hs-sel {color:#f92672;}
.hs-keyword {color:#66d9ef;}
.hs-definition {color: #A6E22E;}
body { background-color: #272822; }
